.container{
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social{
    display: flex;

    justify-content: space-between;
    gap: 10px;
}

.iconsocial{
    opacity: 0.6;
    cursor: pointer;
}
